<footer> 
    <a href="#" class="link-top" title="Mergi sus">
        <span class="paranteze">(</span>
        <span class="triunghi"></span>
        <span class="paranteze">)</span>
      </a>
      
        <div class="footer">
            
            <h4> Contact </h4>
                <address>
                     <a href="https://www.google.ro/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4356044,26.0976233,17z/data=!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867?hl=ro" target="_blank">Strada Academiei 14, București 010014</a><br>
                     <a href="mailto:contact@lumeaportarilor.com">contact@lumeaportarilor.com</a><br>
                     <a href="tel:+40721234567">0721234567</a><br>
                     <a href="whatsapp://send?phone=0712311231">Chat with us on WhatsApp</a>
                </address>
                <p><small>&copy; 2023 Lumea portarilor. All Rights Reserved.| <time datetime="2023-03-05" lang="ro">5 martie 2023</time></small></p>                       
        </div>
        <p id="banner">Acesta este un proiect scolar. <span id="mesaj-cookies">Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></span></p>

</footer>