<header class="c1" id="h1" >
    <h1>Lumea <span> portarilor </span></h1>
    <div class="watermark" data-name="Caruntu" data-surname="Razvan"></div>

</header>


<nav> 
    <label id="hamburger" for="ch-meniu">
        <img src="/Resurse/Imagini/hamburger_icon.png" alt="menu">
    </label>
    <input id="ch-meniu" type="checkbox">
    <ul class="meniu">
        <li><div id="acasa"> Acasa <i class="fa-solid fa-house"></i></div><div id="acasa-mediu"><i class="fa-solid fa-house"></i></div>
            <ul>
                <li><a href="#welcome">Bine ati venit</a></li> 
                <li><a href="#oferte">Oferte</a></li>
                <li><a href="#recomandate">Recomandate</a></li>
                <li><a href="#best">Cele mai vandute</a></li>
                <li><a href="#intrebari">Întrebări</a></li>
                <li><a href="#feedback">Feedback</a></li>
                <li><a href="#videoclipuri">Videoclipuri</a></li>
            </ul>
        
        </li>
        
        <li><div id="manusi-portar">Manusi portar</div>
            <ul>                        
                <li><a href="#adulti">Adulti</a></li>
                <li><a href="#juniori">Juniori</a></li>
                
            </ul>
        </li>
        <li><div>Accesorii</div>
        </li>
        
    </ul>
</nav>